APP_ENV=production
BASE_URL=http://your-domain

# Database
POSTGRES_USER=dbuser
POSTGRES_PASSWORD=dbpassword
POSTGRES_DB=dbname
DATABASE_URL=postgresql+psycopg2://dbuser:dbpassword@db:5432/dbname

# Crypto
SECRET_KEY=change-me-to-a-random-secret-key
INITIAL_OWNER_PASSWORD=my-secure-password

# SNS
#MAX_POST_LENGTH=

# SMTP
SMTP_SERVER=
SMTP_PORT=587
SMTP_LOGIN=
SMTP_PASSWORD=
SMTP_FROM_ADDRESS=notifications@example.com

# Object Storage
#S3_ENABLED=true
#S3_BUCKET=files.example.com
#AWS_ACCESS_KEY_ID=
#AWS_SECRET_ACCESS_KEY=
#S3_ALIAS_HOST=files.example.com
